* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}

.center {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.3);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: #fff;
  box-shadow: 10px 15px 15px 15px rgba(0, 0, 0, 0.1);
}
.center h1 {
  position: relative;
  background-color: #fff;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.center img {
  position: relative;
  margin-bottom: 5px;

  top: 15px;
  height: 50px;
  width: 100px;

  background: #fff;
}
.cb {
  z-index: 1;
  cursor: pointer;
}
.curPass {
  display: inline;
  position: relative;
  align-items: center;
  margin-right: 0;
  left: 10%;
  font-size: 20px;
}
.newPass {
  display: inline;
  position: relative;
  left: 15%;
  font-size: 20px;
}
.cpwd {
  display: inline;
  position: relative;
  left: 9%;
  font-size: 20px;
}
.curPass .showPass0 {
  position: relative;
  left: -8%;
  top: 13px;
  height: 26px;
  width: 20px;
  background-color: #fff;
  cursor: pointer;
}
.home {
  position: fixed;
  top: 1%;
  left: 1%;
  width: 5%;
  height: 5%;
  font-size: 250%;
  text-align: center;
  color: #273e68;
  border: none;
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
}
span {
  color: rgba(0, 0, 0, 0.8);
}
.newPass .showPass1 {
  position: relative;
  left: -8%;
  top: 13px;
  height: 26px;
  width: 20px;
  background-color: #fff;
  cursor: pointer;
}
.cpwd .showPass2 {
  position: relative;
  left: -8%;
  top: 13px;
  height: 26px;
  width: 20px;
  background-color: #fff;
  cursor: pointer;
}
.uinp {
  margin-left: 10%;
  z-index: 1;
}
.btn {
  position: relative;
  width: 100%;

  border: 1px solid #a0a0a0;
  height: 50px;
  color: #fff;

  font-size: 20px;
  background-color: #273e68;
  cursor: pointer;
}
form .inpcurPass,
form .inpnewPass,
form .conPass {
  border: 1px solid #000;
  height: 30px;
  width: 40%;
  outline: none;
}
.incpw {
  color: red;
}
.newPass .showPass {
  position: relative;
  left: -8%;
  top: 13px;
  height: 26px;
  width: 20px;
  background-color: #fff;
  cursor: pointer;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 13vh;
  text-align: center;
  color: #273e68;
  background-color: #a0a0a0;
}
footer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer p span {
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .center {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;

    box-shadow: 10px 15px 15px 15px rgba(0, 0, 0, 0.1);
  }
  form .inpssid,
  form .inpPass {
    width: 200px;
  }
}
.hidden {
  display: none;
}
