* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}

.center {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.3);
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: #fff;
  box-shadow: 10px 15px 15px 15px rgba(0, 0, 0, 0.1);
}
.center h1 {
  position: relative;
  background-color: #fff;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.center img {
  position: relative;
  margin-bottom: 5px;

  top: 15px;
  height: 50px;
  width: 100px;

  background: #fff;
}
.cb {
  z-index: 1;
  cursor: pointer;
}
.curPass {
  display: inline;
  position: relative;
  align-items: center;
  margin-right: 0;
  left: 9.5%;
  font-size: 20px;
}
.newPass {
  display: inline;
  position: relative;
  left: 16%;
  font-size: 20px;
}
.cpwd {
  display: inline;
  position: relative;
  left: 9%;
  font-size: 20px;
}
.curPass .showPass0,
.newPass .showPass1,
.cpwd .showPass2 {
  position: relative;
  right: 7%;
  cursor: pointer;
}
.home {
  position: fixed;
  top: 1%;
  left: 5%;
  width: 7%;
  height: 7%;
  font-size: 250%;
  text-align: center;
  color: #273e68;
  border: none;
  rotate: 180deg;
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
}
span {
  color: rgba(0, 0, 0, 0.8);
}

.uinp {
  margin-left: 10%;
  z-index: 1;
}
.info {
  color: #a0a0a0;
  text-align: center;
}
.btn {
  position: relative;
  width: 100%;

  border: 1px solid #a0a0a0;
  height: 50px;
  color: #fff;

  font-size: 20px;
  background-color: #273e68;
  cursor: pointer;
}
form .inpcurPass,
form .inpnewPass,
form .conPass {
  border: 1px solid #000;
  height: 30px;
  width: 40%;
  outline: none;
}
.incpw {
  color: red;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 13vh;
  text-align: center;
  color: #273e68;
  background-color: #a0a0a0;
}
footer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer p span {
  font-weight: bold;
}
.hidden {
  display: none;
}

@media screen and (max-width: 640px) {
  .center {
    position: absolute;
    border-radius: 10px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background: #fff;

    box-shadow: 10px 15px 15px 15px rgba(0, 0, 0, 0.1);
  }
  form .inpcurPass,
  form .inpnewPass,
  form .conPass {
    border: 1px solid #000;
    height: 30px;
    width: 30%;
    outline: none;
  }
  .newPass {
    position: relative;
    left: 18%;
  }
  .curPass .showPass0,
  .newPass .showPass1,
  .cpwd .showPass2 {
    position: relative;
    right: 11%;
    cursor: pointer;
  }
  .home
  {
    position:fixed;
    top: 1%;
    left: 18%;
  }
}
