* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}

.center {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background: #fff;

  box-shadow: 10px 15px 15px 15px rgba(0, 0, 0, 0.1);
}

.center h1 {
  position: relative;
  background-color: #fff;
  margin-bottom: 40px;
  padding-bottom: 10px;
  text-align: center;
  color: #273e68;
}

.center img {
  position: relative;
  margin-bottom: 5px;
  top: 15px;
  height: 50px;
  width: 100px;

  background: #fff;
}

.pwd span {
  position: relative;
  right: 9%;
  cursor: pointer;
}

.ssid {
  position: relative;
  align-items: center;

  left: 15%;
  font-size: 20px;
  resize: vertical;
}

.pwd {
  position: relative;
  left: 14%;
  align-items: center;

  font-size: 20px;
  resize: vertical;
}

.btn {
  position: relative;
  width: 100%;
  border: 1px solid #a0a0a0;
  color: #fff;
  height: 50px;
  font-size: 25px;
  background-color: #273e68;
  cursor: pointer;
}

form .inpssid,
form .inpPass {
  border: 1px solid #000;
  height: 30px;
  outline: none;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 13vh;
  text-align: center;
  color: #273e68;
  background-color: #a0a0a0;
}

footer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer p span {
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .center {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;

    box-shadow: 10px 15px 15px 15px rgba(0, 0, 0, 0.1);
  }

  form .inpssid,
  form .inpPass {
    width: 200px;
  }
}